body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* Fondo blanco */
}


header {
    background-color: rgba(255, 255, 255, 0.8); /* El último valor (0.8) controla la opacidad */
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease; /* Añade transición para un cambio suave */
}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    box-shadow: 2px 2px 3px #999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp-float i {
    margin-top: 5px;
}

.logo {
    display: flex;
    align-items: center;
    
}

.logo img {
    width: 90px; /* Ajusta el tamaño del logo según tu necesidad */
    margin-right: 10px;
    border-radius: 30px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}


nav ul {
   list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 40px;
}

nav a {
    text-decoration: none;
    color: black; /* Texto en blanco */
    font-size: 18px;
    transition: color 0.3s ease;
}
nav a[href="#contacto"] {
    color: purple; /* Color morado para el enlace de "Contacto" */
}

nav a:hover {
    color: cyan;
    background-color: rgba(255, 255, 255, 0.5); /* Ajusta la opacidad según sea necesario */
}

.menu-toggle {
    display: none; /* Oculta la barra de menú en pantallas grandes */
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.titulo-texturizado {
  font-size: 2em; /* Tamaño del texto */
  color: transparent;
  background: url('Imagenes/text4.avif'); /* Ruta a la imagen de la textura */
  -webkit-background-clip: text;
  background-clip: text;
  font-family: 'Arial', sans-serif; /* Cambia a la fuente deseada */
    text-align: center
}


.imagen-fondo {
    position: relative;
    overflow: hidden;
}

.imagen-fondo .fondo {
    width: 100%; /* Ajusta el fondo a la anchura completa del contenedor */
    height: auto;;
    object-fit: cover;
    max-width: 100%; /* Evita que la imagen exceda el ancho del contenedor */
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Coloca el fondo detrás del texto y otras imágenes */
}


.imagen-fondo h2 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    padding: 350px 120px 290px 680px; /* Ajusta el espaciado y margen según sea necesario */
    color: black; /* Color del texto */
    line-height: 1.5;
}


.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
}

.tarjeta {
    width: 320px;
    height: 250px;
    margin: 20px auto; /* Auto en el segundo valor centra horizontalmente */
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tarjeta:nth-child(2) { /* Utiliza el número correspondiente a la posición de la tarjeta */
    background-color: cornflowerblue; /* Cambia este color al que desees */
}

.tarjeta:nth-child(4) { /* Utiliza el número correspondiente a la posición de la tarjeta */
    background-color: cornflowerblue; /* Cambia este color al que desees */
}

.tarjeta:nth-child(6) { /* Utiliza el número correspondiente a la posición de la tarjeta */
    background-color: cornflowerblue; /* Cambia este color al que desees */
}
.tarjeta:hover {
    transform: rotateY(180deg);
}

/* Estilos para el contenido frontal */
.tarjeta > * {
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

/* Estilos para el contenido trasero */
.tarjeta:hover > * {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.descripcion {
    display: none;
    margin-top: 10px;
}

.tarjeta:hover img {
    display: none;
}

.tarjeta:hover h3,
.tarjeta:hover .icono {
    display: none;
}

img {
    width: 63%;/* La imagen ocupa el 100% del ancho de su contenedor */
    display: block; /* Elimina el espacio adicional debajo de la imagen */
     margin: auto;
}

.seccion-imagen {
    position: relative;
}


.sobre-mi-1 {
    border-radius: 10px;
    width: 35%;/* La imagen ocupa el 100% del ancho de su contenedor */
    height: 40%;
    display: block; /* Elimina el espacio adicional debajo de la imagen */
     margin: 50px;
    margin-left: 350px;
}

.cuadro-azul {
    position: absolute;
    top: 50%;
    left: 62%;
    transform: translate(-50%, -50%);
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 24%;
}

.galeria {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%; /* Ancho del 100% del viewport */
    object-fit: cover;
}

.imagen-container {
    width: 100%; /* Ancho fijo para todas las imágenes */
    height: auto; /* Altura fija para todas las imágenes */
    overflow: hidden; /* Oculta cualquier parte de la imagen que exceda el tamaño del contenedor */
    
}



.flecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #fff;
    background-color: #333;
    padding: 10px;
    cursor: pointer;
}

.flecha.anterior {
    left: 10px;
}

.flecha.siguiente {
    right: 10px;
}


.redes-sociales i {
    font-size: 24px; /* Tamaño del icono */
    color: #000; /* Color del icono */
    margin: 5px; /* Espaciado alrededor de los iconos */
}
.footer {
    background-color: #333;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap; /* Permite que los elementos se ajusten según el tamaño */
}

.footer .section {
    max-width: 250px;
    text-align: center;
    margin: 10px; /* Añade un poco de margen alrededor de las secciones */
}

 .testimonios {
    text-align: center;
    padding: 40px;
}

.testimonial {
    margin-top: 20px;
}

.testii {
    width: 80px;
    border-radius: 50%;
}

.testimonial p {
    font-style: italic;
    margin: 10px 0;
}

.testimonial cite {
    font-weight: bold;
    display: block;
    color: #555;
}

  @media (max-width: 768px) {
    .menu-toggle {
        display: block; /* Muestra la barra de menú en pantallas pequeñas */
    }

    .nav-list {
        display: none; /* Oculta la lista de menú por defecto */
        flex-direction: column;
        text-align: center;
        position: absolute;
        top: 60px; /* Ajusta según sea necesario para evitar solapamiento con el header */
        left: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.9);
    }

    .nav-list.active {
        display: flex; /* Muestra la lista cuando la clase "active" está presente */
    }

    /* Añade estilos para mejorar la apariencia del menú desplegable */
    .nav-list li {
        margin: 10px 0;
    }
}


@media (max-width: 768px) {
     .imagen-fondo .fondo {
        height: 80vh; /* Ajusta la altura al 80% del viewport en pantallas más pequeñas */
    }
    .imagen-fondo h2 {
        font-size: 6vw;
        padding: 20vh 20vw; /* Ajusta el espaciado para pantallas más pequeñas */
    }
}

@media (max-width: 768px) {
    .cuadro-azul {
        font-size: 10px;
        width: 40%; /* Ajusta el ancho para pantallas más pequeñas */
        max-width: 50%; /* Permite que ocupe el 100% del ancho en pantallas pequeñas */
        left: 74%; /* Mantiene centrado el cuadro en pantallas pequeñas */
    }
    
.sobre-mi-1 {
    width: 66%;/* La imagen ocupa el 100% del ancho de su contenedor */
    height: 40%;
    margin-left: 40px;
}
    
